<!DOCTYPE html>
<html lang="en" view-transition>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Drivers</title>

    <link rel="shortcut icon" href="/favico.png">
    <link rel="stylesheet" href="/drivers/driver_edit.css">

</head>
<body class="entire-page">

    <%
        const {
            driver = {},
            driverSchema = {},
            DRIVER_STATES = {},
            stateNames = new Map(),
        } = locals
    %>


    <%- include("../__header.ejs") %>


    <main class="standard-template driver">

        <h1 class="main-title">Driver Info</h1>

        <% if (driver._id) { %>

            <form id="formEditADriver"
                action="/admin/drivers/<%= driver._id %>"
                method="post" enctype="multipart/form-data" >

                <input type="text" name="modified" id="modified" hidden />
                
                <fieldset id="driverInfo">
                    
                    <legend>Driver Info</legend>

                    <p class="form-item">
                        <label for="status">Status</label>
                        <select name="status" id="status" required>
                            <% for (const state of Object.keys(DRIVER_STATES)) { %>
                                <option value="<%= state %>"
                                    <% if (DRIVER_STATES[state] === driver.state) { %> selected <% } %>
                                >
                                    <%= DRIVER_STATES[state].label?.toUpperCase() %>
                                </option>
                            <% } %>
                        </select>
                    </p>

                    <% for (const k of Object.keys(driverSchema)) { %>
                        <p class="form-item">
                            <label for="<%= k %>"><%= driverSchema[k].label %></label>
                            <input type="<%= driverSchema[k].type || k %>"
                                name="<%= k %>" id="<%= k %>"
                                value="<%= driver[k]?.trim() || '' %>"
                                <% if (driverSchema[k].required) { %> required <% } %>
                            />
                        </p>
                    <% } %>

                    <p class="form-item">
                        <label for="driverLicenseState">Driver license state</label>
                        <select name="driverLicenseState" id="driverLicenseState" required>
    
                            <% if (!driver.driverLicenseState?.trim()) { %>
                                <option selected disabled>-- State --</option>
                            <% } %>
    
                            <% for (const [k, v] of stateNames) { %>
                                <option value="<%= k %>"
                                    <% if (k === driver.driverLicenseState) { %>
                                        selected
                                    <% }%>
                                >
                                    <%= v %>
                                </option>
                            <% } %>
    
                        </select>
                    </p>

                    <p class="form-item">
                        <label for="driverLicenseNumber">Driver license number</label>
                        <input type="text" name="driverLicenseNumber" id="driverLicenseNumber" value="<%= driver.driverLicenseNumber %>" required />
                    </p>

                </fieldset>

                <% if (driver.documents?.length) { %>
                    <fieldset>
                        <legend>Existing Documents (<%= driver.documents.length %>)</legend>
                        <ul id="docs" class="docs">
                            <% for (const doc of driver.documents) {
                                const previewUrl = doc.type === "pdf"
                                    ? doc.url.replace("/upload/", "/upload/pg_1,w_300,f_webp/")
                                    : doc.url
                                const title = doc.label?.trim()
                            %>
                                <li class="doc" data-url="<%= doc.url %>">
                                    <p class="doc-header"><%= tools.localDateTime(doc.uploadedAt, "time") %></p>

                                    <img src="<%= previewUrl %>" loading="lazy" alt="Driver document" />

                                    <div class="doc-footer">
                                        <input type="text" class="doc-title"
                                            data-driverId="<%= driver._id %>"
                                            data-old="<%= title.toUpperCase() %>"
                                            value="<%= title.toUpperCase() %>"
                                        />
                                        <button type="button" class="delete-btn" title="Remove"
                                            data-driverId="<%= driver._id %>"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <polyline points="3 6 5 6 21 6"/>
                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                                                <line x1="10" y1="11" x2="10" y2="17"/>
                                                <line x1="14" y1="11" x2="14" y2="17"/>
                                            </svg>
                                        </button>
                                    </div>

                                </li>
                            <% } %>
                        </ul>
                    </fieldset>
                <% } %>

                <div class="form-footer">
                    <fieldset>
                        <legend>New Documents</legend>
                        <%- include("../__components/DocsDragNDrop/DocsDragNDrop.ejs") %>
                    </fieldset>
                    <fieldset id="notesBox">
                        <legend>Notes</legend>
                        <textarea name="notes" id="notes"><%= driver.notes %></textarea>
                    </fieldset>
                </div>

                <div class="buttons">
                    <button type="submit" id="submitUpdates" class="color-button -green">Save Updates</button>
                </div>

            </form>

            <section class="danger">
                <button type="button" id="removeDriver"
                    class="color-button -red"
                    title="Remove driver data permanently"
                    data-driverId="<%= driver._id %>"
                >
                    Remove Driver
                </button>
            </section>

        <% } else { %>
            <p class="issue">Issue. Driver ID is required</p>
        <% } %>

    </main>


    <!-- include("../__footer.ejs") -->


    <script type="module" src="/drivers/driver_edit.js" defer></script>


</body>
</html>