<!DOCTYPE html>
<html lang="en" view-transition>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Profile</title>

    <link rel="shortcut icon" href="/favico.png">
    <link rel="stylesheet" href="/admin_profile.css">
</head>
<body class="entire-page">

    <%
        const {
            terminals = [],
            lastUpdatedContainers = []
        } = locals
    %>

    
    <%- include("__header.ejs") %>


    <main class="standard-template admin-profile">

        <%- include("__user_basic_profile.ejs") %>

        <h1 class="main-title">Dashboard</h1>

        <section class="data-section -terminals">
            <h2>Assigned terminals (<%= terminals.length %>)</h2>
            <ul>
                <% for (const t of terminals) { %>
                    <a href="/admin/containers?terminal=<%= t.key %>">
                        <li id="<%= t._id %>" data-key="<%= t.key %>">
                            <dl>
                                <dt>title</dt>
                                <dd>"<%= t.label %>" / <%= t.group %></dd>
                            </dl>
                            <dl>
                                <dt>assigned containers</dt>
                                <dd><%= t.stats?.totalContainers ?? 0 %></dd>
                            </dl>
                            <dl>
                                <dt>last sync</dt>
                                <dd><%- tools.localDateTime(t.session?.lastCheckedAt, "html") %></dd>
                            </dl>
                        </li>
                    </a>
                <% } %>
            </ul>
            <a href="/admin/containers" id="more">more...</a>
        </section>

        <section class="data-section -containers">
            <h2>Last updated containers (<%= lastUpdatedContainers.length %>)</h2>
            <ul>
                <% for (const c of lastUpdatedContainers) {
                    const status = (c.status || "NA").toUpperCase()
                    %>

                    <li id="<%= c._id %>" data-key="<%= c.terminal %>">
                        <dl>
                            <dt>number</dt>
                            <dd><%= c.number %></dd>
                        </dl>
                        <dl>
                            <dt><%= ["YES", "NO"].includes(status) ? "is available" : "status" %></dt>
                            <dd class="status"><%= c.status %></dd>
                        </dl>
                        <dl>
                            <dt>terminal</dt>
                            <dd><%= c.terminalLabel %></dd>
                        </dl>
                    </li>

                <% } %>
            </ul>
        </section>

    </main>


    <%- include("__footer.ejs") %>


    <script type="module" src="/admin_profile.js" defer></script>

    
</body>
</html>