<!DOCTYPE html>
<html lang="en" view-transition>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Containers</title>

    <link rel="shortcut icon" href="/favico.png">
    <link rel="stylesheet" href="/containers/containers_main.css">

</head>
<body class="entire-page">

    <%
        const {
            TERMINALS_LABELS = [],
            terminals = [],
            query = {},
            unAssignedContainers = 0
        } = locals

        const { terminal } = query
    %>


    <%- include("../__header.ejs") %>


    <main class="standard-template containers">

        <h1 class="main-title">Terminals & Containers</h1>

        <menu type="toolbar">
            <button type="button" class="color-button -green" onclick="addFormPopup.classList.add('-shown')">Add more Containers</button>
            <% if (unAssignedContainers) { %>
                <button type="button" id="showUnassigned" class="color-button">Show unassigned (<%= unAssignedContainers %>)</button>
            <% } %>
        </menu>

        <div id="addFormPopup">
            <div class="popup-inner">
                <menu type="context">
                    <button type="button" class="color-button" onclick="addFormPopup.classList.remove('-shown')">Close</button>
                </menu>
                <form action="/admin/containers/add-containers" method="post" id="add_containers">
                    <div class="input-box">
                        <textarea name="new_containers" id="new_containers" placeholder="Place container numbers to be added" required></textarea>
                        <select name="terminals" id="terminals" multiple>
                            <option value="auto" selected>Auto define</option>
                            <% for (const [k, v] of Object.entries(TERMINALS_LABELS)) { %>
                                <option value="<%= k %>"><%= v %></option>
                            <% } %>
                        </select>
                        <div class="controls">
                            <button type="submit" class="color-button -green">Add New</button>
                        </div>
                    </div>
                    <div class="validation-results-box">
                        <h2>Validation results <span id="indicator" hidden>⏳️</span></h2>
                        <ul id="validation_results" hidden></ul>
                    </div>
                </form>
            </div>
        </div>
        

        <!-- Terminals -->
        <section class="terminals-list" id="terminals-list">
            <% for (const t of terminals) {
                const { stats = {}, session = {}, health = {} } = t || {}              
                %>

                <div class="terminal-card"
                    id="<%= t._id %>"
                    data-key="<%= t.key %>"
                    data-active="<%= t.active %>"
                >

                    <div class="card-header">
                        <h3><%= t.label %></h3>
                        <h4>group: <%= t.group %></h4>
                    </div>

                    <fieldset>
                        <legend>Statistics</legend>
                        <h5>
                            <input type="checkbox"
                                id="<%= t.key %>.total"
                                name="<%= t.key %>"
                                value="total"
                                data-selector
                                <% if (t.key === terminal) { %> checked <% } %>
                            />
                            <label for="<%= t.key %>.total">Total containers: <%= stats.totalContainers ?? 0 %></label>
                        </h5>
                        <ul class="containers-statuses">
                            <% for (const [k, v] of Object.entries(stats.statuses || {})) {
                                const key = `${ t.key }.${ k.toLowerCase().replace(/[^a-zA-Z0-9_]/g, "") }`
                                %>

                                <li>
                                    <input type="checkbox"
                                        id="<%= key %>"
                                        name="<%= t.key %>"
                                        value="<%= k %>"
                                        data-selector
                                    />
                                    <label for="<%= key %>">
                                        <dl>
                                            <dt><%= k %></dt>
                                            <dd><%= v %></dd>
                                        </dl>
                                    </label>
                                </li>
                            <% } %>
                        </ul>
                        <p class="stat-last-updated">Last updated at:<span><%- tools.localDateTime(stats.lastUpdatedAt, "html") %></span></p>
                    </fieldset>
                    <fieldset>
                        <legend>Session</legend>
                        <p class="sess-last-checked">Last checked at:<span><%- tools.localDateTime(session.lastCheckedAt, "html") %></span></p>
                        <p class="sess-last-logged">Last login at:<span><%- tools.localDateTime(session.lastLoginAt, "html") %></span></p>
                    </fieldset>
                    <fieldset>
                        <legend>Health</legend>
                        <% if (health.lastError?.message) { %>
                            <h6>Last error detected:</h6>
                            <p class="health-last-error"><%= health.lastError.message %></p>
                            <p class="health-last-error-at"><%- tools.localDateTime(health.lastError.at, "html") %></p>
                        <% } else { %>
                            <p class="health-no-errors">No errors detected</p>
                        <% } %>
                    </fieldset>
                    <div class="buttons">
                        <button type="button" name="sync" id="sync.<%= t._id %>" class="color-button -blue">Sync Manually</button>
                        <button type="button" name="off" id="off.<%= t._id %>" class="color-button"><%= t.active === false ? "Enable" : "Turn Off"  %></button>
                    </div>

                </div>
            <% } %>
        </section>

        <!-- CRUD modal menu -->
        <nav id="containersCRUD">
            <span id="selectedCRUD">0</span>
            <button type="button" id="deselect" class="color-button" disabled>Deselect</button>
            <button type="button" id="deleteSelected" class="color-button -red" disabled>Delete Selected</button>
            <button type="button" id="restore" class="color-button -yellow" disabled>Restore</button>
        </nav>

        <!-- Found results -->
        <ul id="result"></ul>

        <!-- Pagination -->

    </main>


    <%- include("../__footer.ejs") %>


    <script type="module" src="/containers/containers_main.js" defer></script>
    <script type="module" src="/containers/containers_select.js" defer></script>
    <script type="module" src="/containers/containers_CRUD.js" defer></script>


</body>
</html>